@import url("./rodape.css");
@import url("./conteudo.css");
@import url("./cabecalho.css");
@import url("./conteudo-interno.css");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.container {
  width: 100%;
}

/* Breakpoint 1 - 1300px*/
@media screen and (max-width: 1300px) {
   .conteudo {
    flex-direction: column;
  } 

  .rodape nav img {
  display: block;
  max-width: 100%;
  width: 15%;
  margin: 0 auto;
  }

  .card img{
    max-width: 100%;
    width: 50%;
    height: auto;
    display: inline-block;
  } 
  
  .card figcaption {
      font-size: 1.3rem;
  }

  }


/* Breakpoint 1 - 990px*/
@media screen and (max-width: 990px) {
  .cabecalho nav {
  width: 100%;
  height: auto;
  font-size: 2rem;
   }
   .cabecalho img {
   width: 50%;
   max-width: 50%;
  margin: 0 auto;
   }
   .cabecalho a {
   padding: 3vh 0;
   }
   .rodape nav img {
    display: block;
    max-width: 100%;
    width: 20%;
    margin: 0 auto;

  }
  }

  
  /* Breakpoint 2 - 600px*/
  @media screen and (max-width: 600px) {
   .cabecalho nav {
      font-size: 1.5rem;
      justify-content: center;
      flex-direction: column;
    }
    .cabecalho img {
      width: 70%;
      max-width: 70%;
    }

    .cabecalho a{
      font-size: 2rem;
    }

    

  }
  
