@import url("./rodape.css");
@import url("./conteudo.css");
@import url("./cabecalho.css");
@import url("./conteudo interno.css");
@import url("./cabecalho interno.css");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.container {
  width: 100%;
}

/* Breakpoint 1 - 970px*/
@media screen and (max-width: 970px) {
  .cabecalho nav {
  width: 100%;
  height: auto;
  font-size: 2rem;
   }
   .cabecalho img {
   width: 50%;
   max-width: 50%;
  margin: 0 auto;
   }
   .cabecalho a {
   padding: 3vh 0;
   }
  }
  
  /* Breakpoint 2 - 600px*/
  @media screen and (max-width: 600px) {
   .cabecalho nav {
      font-size: 1.5rem;
    }
    .cabecalho img {
      width: 70%;
      max-width: 70%;
    }
    .cabecalho a {
      padding: 2vh 0;
    }
  }
  
